.continer {
padding: 4rem;
display: flex;
flex-direction: column;
margin-left: 250px;
}

.card-continer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 3px solid black;
  padding: 10px;
  border-radius: .5rem;
  justify-content: center;
}

.box{
  width: fit-content;
  margin-bottom: 2rem;
  padding: 1.5rem;
  box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
  transition: transform .3s ease;
  border-radius: .5rem;

}  