.searchBar-continer{
    margin: 2rem 1rem;
    background-color: #eee;
    width: 380px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
}
.search-box{

    width: 240px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}
.icon {
    position: inherit;
    

  }